@media screen and (min-width: 770px) {

/*   body   */

body {
  margin: 0;
  font-family: 'Arial', 'sans-serif';
  user-select: none;
}



/*   nav   */

.value {
  width: 100%;
  height: 100px;
}

.title h1 {
  float: left;
  font-size: 50px;
  text-align: center;
  padding-left: 70px;
  margin: 0;
  width: 230px;
  height: 100px;
  line-height: 100px;
}

.menu nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 60vw;
  height: 100px;
  justify-content: space-around;
}

.menu ul li {
  font-size: 20px;
  width: 80px;
  height: 50px;
  text-align: center;
  transform: translate(0, 30px);
  line-height: 50px;
  transition: .2s;
}

.menu ul li:hover {
  opacity: .5;
}

.menu nav ul a {
  text-decoration: none;
  color: #222;
}

#tab {
  display: none;
}

/*   background   */
.background {
  position: relative;
  width: 100%;
  height: 650px;
}


/*   new_member   */

.registre {
  width: 70%;
  height: 100px;
  background: #111;
  color: #fff;
  margin: 100px auto;
  border-radius: 15px;
}

.registre h1 {
  text-align: center;
  line-height: 100px;
}

.new_members {
  width: 100%;
  height: 800px;
}

.register_form {
  width: 70%;
  margin: 0 auto;
}

.information {
  display: flex;
  flex-direction: column;
}

.information #email {
  margin-top: 20px;
  margin-bottom: 20px;
}

.member {
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

/*   checkbox   */

.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.checkbox p {
  margin: 0;
  width: 350px;
}

.terms {
  margin: 6px 5px 0 5px;
}


/*   register_btn   */

.register_btn button {
  background: skyblue;
  display: inline-block;
  width: 355px;
  height: 50px;
  color: #fff;
  margin-top: 50px;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 3px;
  border: 0;
  border-radius: 10px;
}

.register_btn {
  transition: .3s;
  text-align: center;
}

.register_btn:hover {
  opacity: .8;
}

.lead p {
  margin-top; 10px;
  text-align: center;
  font-size: 14px;
}

.lead {
  transition: .3s;
}
.lead:hover {
  opacity: .5;
}

.lead a{
  text-decoration: none;
  color: #333;
}


/* sns */

#sns {
  display: none;
}


/*   footer   */

footer {
  background: #777;
  width: 100%;
  height: 150px;
}

footer p {
  text-align: center;
  line-height: 150px;
}

/* display none */
.login_2 {
  display: none;
}

}


/*     middle     */



@media screen and (max-width: 769px) and (min-width: 480px) {
  body {
    margin: 0;
    font-family: 'Arial', 'sans-serif';
    user-select: none;
    /* background: pink; */
  }

  .all {
    overflow: hidden;
  }


  /*   nav   */

  .value {
    width: 100%;
    height: 62px;
    position: relative;
    background: #666;
  }

  /*   .menu部分   */

  .menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition:ease .5s;
    transition:ease .5s;
    z-index: 1;
    background: #333;
    position: absolute;
    top: 62px;
    width: 100%;
    opacity: .8;
  }

  .menu nav ul {
    margin: 0;
      padding: 0;
    list-style: none;
  }

  .menu ul li {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .2s;
    margin: 0 auto;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li:hover {
    opacity: .5;
  }

  .menu nav ul a {
    text-decoration: none;
    color: #fff;
  }

  /*  .menu navのopen時の動き  */

  .menu.open {
    -webkit-transform:translateX(0);
    transform:translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }


   /*   menu tab   */

  .login_2 {
    position: absolute;
    z-index: 9999;
    top: 16px;
    right: 20px;
  }

  .login_2 a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

   /*   toggle   */

  .navbar_toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }


  .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    transition: ease .5s;
  }

  .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }


  /* menu tab OPEN時の動き  */

  .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /*   background   */

  .background {
    position: relative;
    width: 100%;
    height: 1000px;
    /* background-color: #333; */
  }

  /*   title   */

  .title h1 {
    /* float: left; */
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    margin: 0;
    /* background: skyblue; */
    width: 100%;
    height: 100px;
    line-height: 120px;
  }

  /*   new_member   */

  .registre {
    width: 70%;
    height: 80px;
    background: #111;
    color: #fff;
    margin: 50px auto;
    border-radius: 15px;
  }

  .registre h1 {
    text-align: center;
    line-height: 80px;
    margin-top: 200px;
  }

  .new_members {
    /* background: gold; */
    width: 100%;
    height: 530px;
  }

  .register_form {
    width: 70%;
    /* background: pink; */
    margin: 0 auto;
  }

  .information {
    display: flex;
    flex-direction: column;
  }

  .information #email {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .member {
    width: 90%;
    height: 50px;
    margin: 0 auto;
  }

  /*   checkbox   */
  .checkbox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }

  .checkbox p {
    margin: 0;
    width: 350px;
  }

  .terms {
    margin: 6px 5px 0 5px;
  }



  /*   register_btn   */

  .register_btn button {
    background: skyblue;
    display: inline-block;
    width: 355px;
    height: 50px;
    color: #fff;
    margin-top: 50px;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 3px;
    border: 0;
    border-radius: 10px;
  }

  .register_btn {
    transition: .3s;
    text-align: center;
  }

  .register_btn:hover {
    opacity: .8;
  }

  .lead p {
    margin-top; 10px;
    text-align: center;
    font-size: 14px;
  }

  .lead {
    transition: .3s;
  }
  .lead:hover {
    opacity: .5;
  }

  .lead a{
    text-decoration: none;
    color: #333;
  }

  /* sns */

  #sns {
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
  }

  #sns a {
    text-decoration: none;
    color: #333;
    text-align: center;
    margin: 0;
    transition: .3s;
  }

  #sns a:hover {
    opacity: .5;
  }

  .twitter {
    margin: 0;
    background: #fff;
    border: 1px solid #fff;
    width: 25vw;
    height: 60px;
    background: #333;
  }

  .twitter p {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
  }


  /*   footer   */

  footer {
    background: #777;
    width: 100%;
    height: 150px;
  }

  footer p {
    text-align: center;
    line-height: 150px;
  }


  }




/*         small       */

@media screen and (max-width: 479px){
  body {
    margin: 0;
    font-family: 'Arial', 'sans-serif';
    user-select: none;
    /* background: skyblue; */
  }

  .all {
    overflow: hidden;
  }


  /*   nav   */


  .value {
    width: 100%;
    height: 62px;
    position: relative;
    background: #666;
  }

  /*   .menu部分   */

  .menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition:ease .5s;
    transition:ease .5s;
    z-index: 1;
    background: #333;
    position: absolute;
    top: 62px;
    width: 100%;
    opacity: .8;
  }

  .menu nav ul {
    margin: 0;
      padding: 0;
    list-style: none;
  }

  .menu ul li {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .2s;
    margin: 0 auto;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li:hover {
    opacity: .5;
  }

  .menu nav ul a {
    text-decoration: none;
    color: #fff;
  }

  /*  .menu navのopen時の動き  */

  .menu.open {
    -webkit-transform:translateX(0);
    transform:translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

   /*   menu tab   */

   /*   menu tab   */

  .login_2 {
    position: absolute;
    z-index: 9999;
    top: 16px;
    right: 20px;
  }

  .login_2 a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

   /*   toggle   */

  .navbar_toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }

  .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    transition: ease .5s;
  }

  .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }


  /* menu tab OPEN時の動き  */

  .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /*   background   */

  .background {
    position: relative;
    width: 100%;
    height: 1000px;
    /* background-color: #333; */
  }

  /*   title   */

  .title h1 {
    /* float: left; */
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    margin: 0;
    /* background: skyblue; */
    width: 100%;
    height: 100px;
    line-height: 120px;
  }

  /*   new_member   */

  .registre {
    width: 70%;
    height: 50px;
    background: #111;
    color: #fff;
    margin: 50px auto;
    border-radius: 15px;
  }

  .registre h1 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
    margin-top: 200px;
  }

  .new_members {
    /* background: gold; */
    width: 100%;
    height: 530px;
  }

  .register_form {
    width: 70%;
    /* background: pink; */
    margin: 0 auto;
  }

  .register_form input {
    border: 1px solid #999;
    /* border-radius: 10px; */
  }

  .information {
    display: flex;
    flex-direction: column;
  }

  .information #email {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .member {
    width: 90%;
    height: 30px;
    margin: 0 auto;
  }

  /*   checkbox   */
  .checkbox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }

  .checkbox p {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    color: #777;
    width: 350px;
  }

  .terms {
    margin: 4px 3px 0 3px;
  }



  /*   register_btn   */

  .register_btn button {
    background: skyblue;
    display: inline-block;
    width: 100%;
    height: 30px;
    color: #fff;
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px;
    border: 0;
    border-radius: 10px;
  }

  .register_btn {
    transition: .3s;
    text-align: center;
  }

  .register_btn:hover {
    opacity: .8;
  }

  .lead p {
    margin-top; 10px;
    text-align: center;
    font-size: 14px;
  }

  .lead {
    transition: .3s;
  }
  .lead:hover {
    opacity: .5;
  }

  .lead a{
    text-decoration: none;
    color: #333;
  }

  /* sns */

  #sns {
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
  }

  #sns a {
    text-decoration: none;
    color: #333;
    text-align: center;
    margin: 0;
    transition: .3s;
  }

  #sns a:hover {
    opacity: .5;
  }

  .twitter {
    margin: 0;
    background: #fff;
    border: 1px solid #fff;
    width: 25vw;
    height: 60px;
    background: #333;
  }

  .twitter p {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
  }


  /*   footer   */

  footer {
    background: #777;
    width: 100%;
    height: 150px;
  }

  footer p {
    text-align: center;
    line-height: 150px;
  }


  }
