@media screen and (min-width: 770px) {

/*   body   */

body {
  margin: 0;
  font-family: 'Arial', 'sans-serif';
  user-select: none;
  background: #000515;
}

/* display none setting  */

#sns {
  display: none;
}

#sns .twitter {
  display: none;
}

.login_2 {
  display: none;
}

/*   nav   */

  .value {
    position: fixed;
    top: 0px;
    z-index: 8000;
    width: 100%;
    height: 80px;
    background: #000515;
  }


    .title a {
      color: #fff;
    }


      .title h1 {
        float: left;
        font-size: 50px;
        text-align: center;
        padding-left: 70px;
        margin: 0;
        width: 230px;
        height: 100px;
        line-height: 100px;
      }

/*  menu  */

  .menu nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 60vw;
    height: 100px;
    justify-content: space-around;
  }

      .menu ul li {
        font-size: 20px;
        width: 80px;
        height: 50px;
        text-align: center;
        transform: translate(0, 30px);
        line-height: 50px;
        transition: .2s;
      }

          .menu ul li:hover {
            opacity: .5;
          }

          .menu nav ul a {
            text-decoration: none;
            color: #fff;
          }

  #tab {
    display: none;
  }

  /*   values_background   */

  .values_backgroud {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/blue_fllower.jpg);
    background-position: center;
    background-size: cover;
    opacity: .3;
    margin-top: 80px;
  }


  /*  .description   */

  .description {
    width: 80%;
    height: 400px;
    margin: 100px auto 100px auto;
    background: #555;
    opacity: .2;
  }


  /*   plans   */

.plans {
    width: 80%;
    height: 1350px;
    margin: 100px auto 100px auto;
    background: #555;
    opacity: .2;
  }

.years {
  position: relative;
  width: 100%;
  height: 150px;
  background: red;
  margin: 50px 0;
}

.years img {
  width: 30vw;
  height: 150px;
  background: red;
  margin: 0;
}

.plans_left{
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 150px;
  background: pink;
}

.plans_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 150px;
  background: pink;
}

  /*   footer   */

  footer {
    background: #333;
    width: 100%;
    height: 150px;
    opacity: .3;
  }

  footer p {
    text-align: center;
    line-height: 150px;
  }

}


/*     middle     */



@media screen and (max-width: 769px) and (min-width: 480px) {
  body {
    margin: 0;
    font-family: 'Arial', 'sans-serif';
    user-select: none;
    background: #000515;
    /* background: pink; */
  }

  .all {
    overflow: hidden;
  }


  /*   nav   */

  .value {
    width: 100%;
    height: 62px;
    position: relative;
    background: #000515;
  }

  .value h1 {
    display: none;
  }

  /*   .menu部分   */

  .menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition:ease .5s;
    transition:ease .5s;
    z-index: 1;
    background: #333;
    position: absolute;
    top: 62px;
    width: 100%;
    opacity: .8;
  }

  .menu nav ul {
    margin: 0;
      padding: 0;
    list-style: none;
  }

  .menu ul li {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .2s;
    margin: 0 auto;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li:hover {
    opacity: .5;
  }

  .menu nav ul a {
    text-decoration: none;
    color: #fff;
  }

  /*  .menu navのopen時の動き  */

  .menu.open {
    -webkit-transform:translateX(0);
    transform:translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }


   /*   menu tab   */

  .login_2 {
    position: absolute;
    z-index: 9999;
    top: 16px;
    right: 20px;
  }

  .login_2 a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

   /*   toggle   */

  .navbar_toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }


  .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    transition: ease .5s;
  }

  .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }


  /* menu tab OPEN時の動き  */

  .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /*   values_background   */

  .values_backgroud {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/blue_fllower.jpg);
    background-position: center;
    background-size: cover;
    opacity: .3;
  }

      /* .values_backgroud h1 {
        font-size: 50px;
        text-align: center;
        line-height: 300px;
        width: 50%;
        height: 100px;
        margin: 0 auto;
      } */

  /*  .description   */

  .description {
    width: 80%;
    height: 400px;
    margin: 100px auto 100px auto;
    background: #555;
    opacity: .2;
  }


  /*   menu containers   */
  .containers {
    position: relative;
    width: 83%;
    height: 940px;
    margin: 200px auto 200px auto;
    background: #000515;
    opacity: .5;
  }

      .containers p {
        margin: 0;
        text-align: center;
        font-family: 'impact', 'Arial', 'sans-serif';
      }

          .containers a {
            text-decoration: none;
            color: #fff;
          }


      /*   block_top   */

      .block_top div {
        width: 100%;
        height: 150px;
        background: #333;
        opacity: .4;
        border-radius: 5px;
      }

          .block_top div p {
            letter-spacing: 6px;
            font-size: 80px;
            line-height: 150px;
          }

      /*   block_left   */

      .block_left {
        position: absolute;
        top: 180px;
        left: 0;
        width: 40vw;
        height: 500px;
      }

      .block_left .box1 {
        display: flex;
        justify-content: space-between;
      }


          .block_left .box1 a div {
            width: 19vw;
            height: 255px;
            background: #333;
            opacity: .4;
            border-radius: 5px;
          }

              .block_left .box1 .box1_right {
                background: url(../img/darkblue.jpg);
                background-position: bottom;
                background-size: cover;
              }

          .block_left .box2 div {
            width: 100%;
            height: 255px;
            margin-top: 20px;
            background: url(../img/darkblue.jpg);
            background-position: bottom;
            background-size: cover;
            opacity: .4;
            border-radius: 5px;
          }

      /*   block_right   */

      .block_right div {
        position: absolute;
        top: 180px;
        right: 0;
        width: 40vw;
        height: 530px;
        background: #333;
        border-radius: 5px;
        opacity: .4;
      }

          .block_right div p {
            font-size: 70px;
            line-height: 130px;
            letter-spacing: 10px;
          }


      /*  block_bottom  */


      .block_bottoms {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
      }

          .block_bottom {
            display: flex;
            justify-content: space-between;
          }

              .block_bottoms .center {
                color: #fff;
                background: url(../img/darkblue.jpg);
                background-position: bottom;
                background-size: cover;
                opacity: .4;
                width: 48vw;
                height: 200px;
                border-radius: 5px;
              }

                .block_bottoms .center p {
                  font-size: 40px;
                  line-height: 100px;
                  letter-spacing: 6px;
                }

              .block_bottoms .side {
                color: #fff;
                width: 15vw;
                height: 200px;
                background: #333;
                opacity: .4;
                border-radius: 5px;
              }


/*   top_btn   */

  #top_btn {
    position: fixed;
    z-index: 4;
    bottom: 70px;
    right: 10px;
    width: 100px;
    height: 70px;
    background: #333;
    opacity: .5;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid #333;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin: 0;
    transition: .3s;
  }

  #top_btn:hover {
    background: #333;
    border: 1px solid #fff;
  }

  /* sns */

  #sns {
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
  }

  #sns a {
    text-decoration: none;
    color: #333;
    text-align: center;
    margin: 0;
    transition: .3s;
  }

  #sns a:hover {
    opacity: .5;
  }

  .twitter {
    margin: 0;
    border: 1px solid #fff;
    width: 25vw;
    height: 60px;
    background: #000515;
  }

  .twitter p {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
  }


  /*   footer   */

  footer {
    background: #333;
    width: 100%;
    height: 150px;
    opacity: .3;
  }

  footer p {
    text-align: center;
    line-height: 150px;
  }

}




/*         small       */

@media screen and (max-width: 479px){
  body {
    margin: 0;
    font-family: 'Arial', 'sans-serif';
    user-select: none;
    background: #000515;
    /* background: pink; */
  }

  .all {
    overflow: hidden;
  }


  /*   nav   */

  .value {
    width: 100%;
    height: 62px;
    position: relative;
    background: #000515;
  }

  .value h1 {
    display: none;
  }

  /*   .menu部分   */

  .menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition:ease .5s;
    transition:ease .5s;
    z-index: 1;
    background: #333;
    position: absolute;
    top: 62px;
    width: 100%;
    opacity: .8;
  }

  .menu nav ul {
    margin: 0;
      padding: 0;
    list-style: none;
  }

  .menu ul li {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .2s;
    margin: 0 auto;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li:hover {
    opacity: .5;
  }

  .menu nav ul a {
    text-decoration: none;
    color: #fff;
  }

  /*  .menu navのopen時の動き  */

  .menu.open {
    -webkit-transform:translateX(0);
    transform:translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }


   /*   menu tab   */

  .login_2 {
    position: absolute;
    z-index: 9999;
    top: 16px;
    right: 20px;
  }

  .login_2 a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

   /*   toggle   */

  .navbar_toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }


  .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    transition: ease .5s;
  }

  .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }


  /* menu tab OPEN時の動き  */

  .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /*   values_background   */

  .values_backgroud {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/blue_fllower.jpg);
    background-position: center;
    background-size: cover;
    opacity: .3;
  }

      /* .values_backgroud h1 {
        font-size: 50px;
        text-align: center;
        line-height: 300px;
        width: 50%;
        height: 100px;
        margin: 0 auto;
      } */

  /*  .description   */

  .description {
    width: 80%;
    height: 400px;
    margin: 100px auto 100px auto;
    background: #555;
    opacity: .2;
  }


  /*   menu containers   */
  .containers {
    position: relative;
    width: 83%;
    height: 940px;
    margin: 200px auto 200px auto;
    background: #000515;
    opacity: .5;
  }

      .containers p {
        margin: 0;
        text-align: center;
        font-family: 'impact', 'Arial', 'sans-serif';
      }

          .containers a {
            text-decoration: none;
            color: #fff;
          }


      /*   block_top   */

      .block_top div {
        width: 100%;
        height: 150px;
        background: #333;
        opacity: .4;
        border-radius: 5px;
      }

          .block_top div p {
            letter-spacing: 6px;
            font-size: 50px;
            line-height: 150px;
          }

      /*   block_left   */

      .block_left {
        position: absolute;
        top: 180px;
        left: 0;
        width: 40vw;
        height: 500px;
      }

      .block_left .box1 {
        display: flex;
        justify-content: space-between;
      }


          .block_left .box1 a div {
            width: 19vw;
            height: 255px;
            background: #333;
            opacity: .4;
            border-radius: 5px;
          }

              .block_left .box1 .box1_right {
                background: url(../img/darkblue.jpg);
                background-position: bottom;
                background-size: cover;
              }

          .block_left .box2 div {
            width: 100%;
            height: 255px;
            margin-top: 20px;
            background: url(../img/darkblue.jpg);
            background-position: bottom;
            background-size: cover;
            opacity: .4;
            border-radius: 5px;
          }

      /*   block_right   */

      .block_right div {
        position: absolute;
        top: 180px;
        right: 0;
        width: 40vw;
        height: 530px;
        background: #333;
        border-radius: 5px;
        opacity: .4;
      }

          .block_right div p {
            font-size: 50px;
            line-height: 105px;
            letter-spacing: 10px;
          }


      /*  block_bottom  */


      .block_bottoms {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
      }

          .block_bottom {
            display: flex;
            justify-content: space-between;
          }

              .block_bottoms .center {
                color: #fff;
                background: url(../img/darkblue.jpg);
                background-position: bottom;
                background-size: cover;
                opacity: .4;
                width: 48vw;
                height: 200px;
                border-radius: 5px;
              }

                .block_bottoms .center p {
                  font-size: 30px;
                  line-height: 70px;
                  letter-spacing: 6px;
                }

              .block_bottoms .side {
                color: #fff;
                width: 15vw;
                height: 200px;
                background: #333;
                opacity: .4;
                border-radius: 5px;
              }


/*   top_btn   */

  #top_btn {
    position: fixed;
    z-index: 4;
    bottom: 70px;
    right: 10px;
    width: 100px;
    height: 70px;
    background: #333;
    opacity: .5;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid #333;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin: 0;
    transition: .3s;
  }

  #top_btn:hover {
    background: #333;
    border: 1px solid #fff;
  }

  /* sns */

  #sns {
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
  }

  #sns a {
    text-decoration: none;
    color: #333;
    text-align: center;
    margin: 0;
    transition: .3s;
  }

  #sns a:hover {
    opacity: .5;
  }

  .twitter {
    margin: 0;
    border: 1px solid #fff;
    width: 25vw;
    height: 60px;
    background: #000515;
  }

  .twitter p {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
  }


  /*   footer   */

  footer {
    background: #333;
    width: 100%;
    height: 150px;
    opacity: .3;
  }

  footer p {
    text-align: center;
    line-height: 150px;
  }

}
