@media screen and (max-width: 479px){

body {
  /* background: pink; */
  margin: 0;
  font-family: 'Arial', 'sans-serif';
  user-select: none;
}

.all {
  overflow: hidden;
}


/*   nav   */


.value {
  width: 100%;
  height: 62px;
  position: relative;
  background: #666;
}

/*   .menu部分   */

.menu {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition:ease .5s;
  transition:ease .5s;
  z-index: 1;
  background: #333;
  position: absolute;
  top: 62px;
  width: 100%;
  opacity: .8;
}

.menu nav ul {
  margin: 0;
    padding: 0;
  list-style: none;
}

.menu ul li {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: .2s;
  margin: 0 auto;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li:hover {
  opacity: .5;
}

.menu nav ul a {
  text-decoration: none;
  color: #fff;
}

/*  .menu navのopen時の動き  */

.menu.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

 /*   menu tab   */

.login_2 {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 20px;
}

.login_2 a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

 /*   toggle   */

.navbar_toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #fff;
  transition: ease .5s;
}

.navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}


/* menu tab OPEN時の動き  */

.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*   background   */

.background {
  position:relative;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background: #000;
  opacity: .7;
}

.filter .spot {
  /* position: absolute; */
  width: 300px;
  height: 300px;
  /* background: #fff; */
  margin: 200px auto 0 auto;
}

.filter .spot p {
  display: none;
  font-family: 'impact';
  width: 255px;
  height: 255px;
  color: #222;
  font-size: 100px;
  border: 5px solid #E3C700;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 5px;
  transform: translate(0px, -20px);
}


/*   title   */

.title h1 {
  display: none;
}

/*   login   */

.member_form {
  position: absolute;
  width: 355px;
  left: 25%;
  right: 25%;
  top: 50%;
}

.address {
  display: flex;
  flex-direction: column;
}

.address #email {
  margin: 20px 0;
}

.member {
  width: 350px;
  height: 50px;
}



.btn button {
  background: skyblue;
  width: 355px;
  height: 50px;
  color: #fff;
  margin-top: 20px;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 3px;
  border: 0;
  border-radius: 10px;
}

.btn {
  transition: .3s;
}

.btn:hover {
  opacity: .8;
}

.new a {
  font-size: 10px;
  text-align: center;
}

/*   about   */

.about h2 {
  margin-top: 150px;
  font-size: 46px;
  letter-spacing: 3px;
  color: #333;
  text-align: center;
}

.contents p {
  font-size: 16px;
  text-align: center;
  color: #333;
  width: 80%;
  margin: 0 auto;
  line-height: 40px;
}

.container {
  margin-bottom: 100px;
}

/*   list   */

.list {
  width: 90%;
  height: 900px;
  margin: 0 auto;
}

.list h3, .list p {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.list h3 {
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 10px;
}

/* list background  setting */

.list .plan_1 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../img/deskwork.jpg);
  background-size: cover;
  background-position: bottom;
  filter: grayscale(100%) contrast(0.9);
  border-radius: 5px;
  width: 100%;
  max-width: 1016px;
  height: 250px;
  padding-top: 0px;
}

.list .plan_2 {
  background: linear-gradient(25deg, rgba(111, 134, 214, 0.4), rgba(72, 198, 239, 0.7)),url(../img/desk_list.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  padding-top: 0px;
  margin-top: 40px;
}

.list .plan_3 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../img/mission.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  padding-top: 0px;
  margin-top: 40px;
}


.plan_1, .plan_2, .plan_3 {
  margin: 0 auto;
}

.intro {
  line-height: 50px;
}

.select_box {
  transition: .3s;
  opacity: .9;
}

.select_box:hover {
  opacity: .3;
}

/*   fade in setting   */
.fadeIn {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadeIn.active {
  opacity: 1;
  transform: translate(0, 0);
}

/*   list text settig  */

.list p {
  font-size: 14px;
  padding: 20px;
  margin: 0;
  padding-top: 0;
}

.list a {
  text-decoration: none;
  color: #000;
}

/* sns */

#sns {
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 60px;
}

#sns a {
  text-decoration: none;
  color: #333;
  text-align: center;
  margin: 0;
  transition: .3s;
}

#sns a:hover {
  opacity: .5;
}

.twitter {
  margin: 0;
  background: #fff;
  border: 1px solid #fff;
  width: 25vw;
  height: 60px;
  background: #333;
}

.twitter p {
  font-size: 28px;
  color: #fff;
  margin-top: 15px;
}


/*   top_btn   */

#top_btn {
  z-index: 4;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 100px;
  height: 70px;
  background: #fff;
  opacity: .7;
  font-size: 20px;
  letter-spacing: 2px;
  border: 1px solid #333;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  margin: 0;
}



/*   footer   */

footer {
  background: #333;
  width: 100%;
  height: 150px;
}

footer p {
  text-align: center;
  line-height: 150px;
}

}
