/*   body   */

body {
  margin: 0;
  font-family: 'Arial', 'sans-serif';
  user-select: none;
}

.all {
  overflow: auto;
}


/*   nav   */

.value {
  position: fixed;
  top: 0px;
  z-index: 8000;
  /* background: #fff; */
  width: 100%;
  height: 100px;
}

.title h1 {
  float: left;
  font-size: 50px;
  text-align: center;
  padding-left: 70px;
  margin: 0;
  /* background: skyblue; */
  width: 230px;
  height: 100px;
  line-height: 100px;
}

.menu nav ul {
  float: right;
  margin: 0;
  padding: 0;
  /* background: pink; */
  list-style: none;
  display: flex;
  width: 60vw;
  height: 100px;
  justify-content: space-around;
}

.menu ul li {
  font-size: 20px;
  width: 80px;
  height: 50px;
  /* background: tomato; */
  text-align: center;
  transform: translate(0, 30px);
  line-height: 50px;
  transition: .2s;
}

.menu ul li:hover {
  opacity: .5;
}

.menu nav ul a {
  text-decoration: none;
  color: #222;
}

.navbar_toggle {
  display: none;
}



/*   background   */

.background {
  position:relative;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: bottom;
	background-size: cover;
  filter: grayscale(100%) contrast(0.9);
  width: 100%;
  height: 550px;
}

/* .background {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
}

.background img {
  filter: grayscale(100%) contrast(0.9);
} */


/*   login   */

.member_form {
  position: absolute;
  top: 30%;
  right: 150px;
}

.address {
  display: flex;
  flex-direction: column;
}

.address #email {
  margin: 20px 0;
}

.member {
  width: 350px;
  height: 50px;
}



.btn button {
  background: skyblue;
  width: 355px;
  height: 50px;
  color: #fff;
  margin-top: 20px;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 3px;
  border: 0;
  border-radius: 10px;
}

.btn {
  transition: .3s;
}

.btn:hover {
  opacity: .8;
}

.new a {
  font-size: 10px;
  text-align: center;
}

/*   about   */

.about h2 {
  margin-top: 150px;
  font-size: 46px;
  letter-spacing: 3px;
  color: #333;
  text-align: center;
}

.contents p {
  font-size: 16px;
  text-align: center;
  color: #333;
  width: 50vw;
  margin: 0 auto;
  line-height: 40px;
}

.container {
  margin-bottom: 150px;
}


/*   list   */

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 800px;
  /* background: #222; */
}

.list h3, .list p {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.list h3 {
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 10px;
}

/* list background  setting */

.list .plan_1 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../img/deskwork.jpg);
  background-size: cover;
  background-position: bottom;
  width: 80%;
  height: 200px;
}

.list .plan_2 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../img/desk_list.jpg);
  background-size: cover;
  background-position: bottom;
  width: 80%;
  height: 200px;
}

.list .plan_3 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../img/mission.jpg);
  background-size: cover;
  background-position: bottom;
  width: 80%;
  height: 200px;
}


.plan_1, .plan_2, .plan_3 {
  margin: 0 auto;
  width: 80%;
  height: 200px;
}

.intro {
  line-height: 50px;
}

.select_box {
  transition: .3s;
  opacity: .9;
}

.select_box:hover {
  opacity: .8;
  padding: 10px;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}


/*   list text settig  */

.list p {
  font-size: 14px;
  padding: 20px;
  margin: 0;
  padding-top: 0;
}

.list a {
  text-decoration: none;
  color: #000;
}



/*   top_btn   */

#top_btn p {
  display: none;
}

/* sns */
#sns p {
  display: none;
}



/*   footer   */

footer {
  background: #777;
  width: 100%;
  height: 150px;
}

footer p {
  margin-top: 0;
  text-align: center;
  line-height: 150px;
}
